header{
    grid-area: header;
    justify-self: center;
    display: grid;
    grid-template-areas: 
        "logo nav";
    grid-template-columns: auto;
    width: 1434px;
    height: 121px;
    margin-top: 56px;
    margin-right: 163px;
    margin-left: 191px;
}

.logo{
    grid-area: logo;
    background-image: url('../images/logo.png');
    width: 160px;
    height: 41px;
    margin-left: 1px;    
}

.nav{
    grid-area: nav;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    width: 545px;
    height: 23px;
    margin-top: 14px; 
    margin-right: 29px;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
}

.nav__a{
    text-decoration: none;
}

.nav__a_home{
    font-weight: 700;
}