.wrapper{
    /* margin: 0 auto; */
    height: auto;
}

:root {
    --main-font: "Mulish";
    --nav-color: #1F1534;
    --title-color: #000000;
    --text-color: #7D7987;
    --button-color: #458FF6;
    --white-color: #FFFFFF;
    --link-color: #4089ED;





}