body{
    margin: 0;
    width: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-content: center;
}

:root {
    --main-font: "Mulish";
    --nav-color: #1F1534;
    --title-color: #000000;
    --text-color: #7D7987;
    --button-color: #458FF6;
    --white-color: #FFFFFF;
    --link-color: #4089ED;
    --shadow-color: #E5E9F6;
}